@font-face {
  font-family: "11814";
  src: url("../fonts/11814.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LuckiestGuy-Regular";
  src: url("../fonts/LuckiestGuy-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
