@font-face {
  font-family: "11814";
  src: url("../fonts/11814.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LuckiestGuy-Regular";
  src: url("../fonts/LuckiestGuy-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@media screen and (max-width: 768px) {
  .header-conteiner {
    padding: 41px 34px;
  }
  .header-top__logo {
    font-size: 18px;
  }
  .nav-link {
    font-size: 12px;
  }
}
@media screen and (max-width: 480px) {
  .header-top__logo {
    font-size: 13, 42px;
  }
  .search {
    display: none;
  }
  .user {
    visibility: hidden;
    display: none;
  }
  .header-navigator-conteiner {
    visibility: hidden;
    display: none;
  }
}
@media screen and (max-width: 320px) {
  .header-top__logo {
    font-size: 13, 42px;
  }
  .search {
    display: none;
  }
  .user {
    visibility: hidden;
    display: none;
  }
  .header-navigator-conteiner {
    visibility: hidden;
    display: none;
  }
}
