@font-face {
  font-family: "11814";
  src: url("../fonts/11814.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LuckiestGuy-Regular";
  src: url("../fonts/LuckiestGuy-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.header-conteiner {
  padding: 40px 165px;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-top__logo {
  font-family: LuckiestGuy-Regular;
  font-size: 24px;
}
.logo-black {
  color: #333333;
}
.logo-red {
  color: #ec1f46;
}
a {
  text-decoration: none;
}

.search {
  display: flex;
  justify-content: flex-start;
}
.search__input {
  background: #f5fafe;
  border: none;
  font-size: 12px;
  font-family: "Mulish", sans-serif;
  border-radius: 6px 0 0 6px;
}
.search__button {
  height: 40px;
  width: 65px;
  display: block;
  background: #ec1f46;
  border: none;
  border-radius: 0 6px 6px 0;
}
.user {
  display: flex;
  width: 107px;
}
.user-href {
  display: flex;
  align-items: center;
}
.user-img {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  width: 40px;
  height: 40px;
  margin-right: 18px;
}
.user-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-name {
  font-family: "Mulish", sans-serif;
  font-size: 14px;
}
.header-navigation {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #0a223d;
  height: 80px;
}
.nav-link {
  color: white;
  font-family: "Mulish", sans-serif;
  text-transform: uppercase;
}
.header-navigation_showmobil {
  display: none;
}
@media screen and (max-width: 768px) {
  .header-conteiner {
    padding: 41px 34px;
  }
  .header-top__logo {
    font-size: 18px;
  }
  .nav-link {
    font-size: 12px;
  }
}
@media screen and (max-width: 480px) {
  .header-top__logo {
    font-size: 13, 42px;
  }
  .search {
    display: none;
  }
  .user {
    visibility: hidden;
    display: none;
  }
  .header-navigator-conteiner {
    visibility: hidden;
    display: none;
  }
}
@media screen and (max-width: 320px) {
  .header-top__logo {
    font-size: 13, 42px;
  }
  .search {
    display: none;
  }
  .user {
    visibility: hidden;
    display: none;
  }
  .header-navigator-conteiner {
    visibility: hidden;
    display: none;
  }
}
