.header-conteiner
  @media screen and ( max-width: 1140px )
    width: 91%
    padding-bottom: 30px
    padding-top: 30px
  @media screen and ( max-width: 480px )
    width: 88%

.header-top
  &__logo
    @media screen and ( max-width:992px )
      margin-right: 47px
      font-size: 18px
      @media screen and ( max-width: 480px )
        font-size: 13px
        margin-right: 0
  &-menu-burger
    @media screen and ( max-width: 680px )
      display: flex
      width: 16px
      height: 11px
      flex-direction: column
      justify-content: space-between
      align-items: center
      cursor: pointer
      color: black
      background: inherit
      border: none
      &-line
        @media screen and ( max-width: 680px )
          width: 16px
          height: 1px
          background: $color_text

.search
  @media screen and ( max-width:992px )
    width: 340px
    @media screen and ( max-width:680px )
      display: none

.user
  @media screen and ( max-width:680px )
    display: none
  &-img

.header-navigator-conteiner
  @media screen and ( max-width: 680px )
    display: none
.conteiner
  @media screen and ( max-width: 1140px )
    width: 91%
    font-size: 14px
    height: 60px

.nav-link
  @media screen and ( max-width: 870px )
    font-size: 12px
    @media screen and ( max-width: 768px )
      font-weight: none

.bread-conteiner
  @media screen and ( max-width: 1140px )
    width: 88%
.main-article-conteiner
  @media screen and ( max-width: 1140px )
    width: 88%
.main-article-right
  @media screen and ( max-width: 768px )
    display: none
.main-article-left-description
  @media screen and ( max-width: 480px )
    white-space: none
    width: 100%
.main-article-left-flesh
  @media screen and ( max-width: 768px )
    order: -1
.main-article-stars
  @media screen and ( max-width: 768px )
    flex-basis: auto
    width: auto
.main-article-group
  @media screen and ( max-width: 768px )
    justify-content: space-between
    width: 100%
.main-article-left
  @media screen and ( max-width: 768px )
    width: 100%
.main-article-left-h
  @media screen and ( max-width: 768px )
    width: 100%
.slider
  @media screen and ( max-width: 1140px )
    width: 700px
.slider-own
  @media screen and ( max-width: 1140px )
    width: 88%
    flex-wrap: wrap
.slider-conteiner
  @media screen and ( max-width: 1140px )
    margin-right: 0
    width: 700px
.swiper-container
  @media screen and ( max-width: 1140px )
    width: 88%
  @media screen and ( max-width: 768px )
    height: 180px
    width: 280px
.swiper-slide img
  @media screen and ( max-width: 768px )
    width: 88%px
    height: 180px
.card-map
  @media screen and ( max-width: 1140px )
    display: flex
    justify-content: space-between
    width: 728px
    @media screen and ( max-width: 768px )
      flex-direction: column
.view
  @media screen and ( max-width: 1140px )
    margin-right: 20px
    width: 340px
    @media screen and ( max-width: 768px )
      width: 279px
      height: 210px
      margin-right: 0px
  &-first
    width: auto
  &-quick
    width: auto
  &-button
    @media screen and ( max-width: 768px )
      padding: 0
      width: 235px
      height: 45px
.map-big
  @media screen and ( max-width: 1140px )
    width: 340px
    height: 210px
  @media screen and ( max-width: 768px )
    width: 280px
    height: 172px
.map
  @media screen and ( max-width: 1140px )
    width: 340px
    height: 210px
  @media screen and ( max-width: 768px )
    width: 340px
.subscribe
  &-text
    @media screen and ( max-width: 1140px )
      width: 88%
      @media screen and ( max-width: 768px )
        width: 88%
        flex-direction: column
        align-items: flex-start
    &-info
      @media screen and ( max-width: 768px )
        margin-bottom: 37px
    &-info span
      @media screen and ( max-width: 768px )
        font-size: 30px
    &-info h2
      @media screen and ( max-width: 768px )
        font-size: 20px
        font-weight: 300
        margin-bottom: 5px
        margin-top: 0
  &-input
    @media screen and ( max-width: 768px )
      width: 215px
      padding: 18px 131px 19px 33px
