.header-conteiner
  @media screen and ( max-width: 1140px )
    width: 80%
  @media screen and ( max-width: 768px )
    width: 80%

.header-top
  &__logo
    @media screen and ( max-width:992px  )
      margin-right: 47px
    @media screen and ( max-width:786px  )
      font-size: 18px
      width: 132px
    @media screen and ( max-width: 555px )
      font-size: 13px
  &-menu-burger
    @media screen and ( max-width: 680px )
      display: flex
      width: 16px
      height: 11px
      flex-direction: column
      justify-content: space-between
      align-items: center
      cursor: pointer
      color: black
      background: inherit
      border: none
      &-line
        @media screen and ( max-width: 680px )
          width: 16px
          height: 1px
          background: $color_text

.search
  @media screen and ( max-width:992px )
    width: 340px
    @media screen and ( max-width:768px )
      width: 250px
    @media screen and ( max-width:680px )
      display: none

.user
  @media screen and ( max-width:680px )
    display: none
    .user-img
  @media screen and ( max-width:768px )
    width: 30px
    height: 30px
    margin-right: 10px
.user-name
  @media screen and ( max-width:768px )
    font-size: 11px
.header-navigator-conteiner
  @media screen and ( max-width: 768px )
    font-size: 11px
    @media screen and ( max-width: 680px )
      display: none
.conteiner
  @media screen and ( max-width: 1140px )
    width: 80%
    font-size: 14px
    @media screen and ( max-width: 680px )
      font-size: 9px
.nav-link
  @media screen and ( max-width: 870px )
    font-size: 12px
    font-weight: bold
  @media screen and ( max-width: 680px )
    font-size: 9px
