* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.invalid {
  color: #ec1f46;
}

.header-conteiner {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 1110px;
  margin: auto;
}

.header-navigator-conteiner {
  background: #0A223D;
}

.header-navigation {
  width: 91%;
  margin: auto;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.header-top__logo {
  font-family: LuckiestGuy-Regular;
  font-size: 24px;
  margin-right: 108px;
}

.header-top-menu-burger {
  display: none;
}

.header-top-logo-search {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-black {
  color: #333333;
}

.logo-red {
  color: #ec1f46;
}

a {
  text-decoration: none;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  height: 40px;
  width: 350px;
}

.search__img {
  width: 18px;
  height: 18px;
}

.search__input {
  background: #f5fafe;
  border: none;
  font-size: 12px;
  font-family: "Mulish", sans-serif;
  border-radius: 6px 0 0 6px;
  padding-left: 18px;
  width: 350px;
}

.search__button {
  height: 40px;
  width: 65px;
  display: block;
  background: #ec1f46;
  border: none;
  border-radius: 0 6px 6px 0;
  position: absolute;
  right: 0;
}

.user-show {
  display: none;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.user-img {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  width: 40px;
  height: 40px;
  margin-right: 18px;
}

.user-href {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Mulish", sans-serif;
}

.search-show {
  display: none;
}

.search-show-href {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-show-img {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  width: 40px;
  height: 40px;
  margin-right: 18px;
}

.search-show-photo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.search-show-name {
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  color: #333333;
}

.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  max-width: 1110px;
  list-style: none;
  padding: 22px 47px;
}

.nav-link {
  color: white;
  font-family: "Mulish", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.header-navigation_showmobil {
  display: none;
}

.header-list__item a:hover {
  color: #f3f3f3;
}

.bread {
  display: block;
  background: #F5FAFE;
}

.bread-conteiner {
  margin: auto;
  width: 1110px;
}

.bread-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 10px;
  line-height: 13px;
  font-family: "Mulish", sans-serif;
  text-decoration: none;
  list-style: none;
  padding: 0;
  height: 50px;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bread-name-item:not(:last-child)::after {
  content: "/";
  margin-right: 4px;
  margin-left: 4px;
}

.main-article {
  background: #F5FAFE;
  padding-top: 24px;
  padding-bottom: 20px;
}

.main-article-conteiner {
  margin: auto;
  width: 1110px;
  font-family: "Mulish", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-article-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-article-left-h {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: "Mulish", sans-serif;
  margin-right: 14px;
  margin-top: 4px;
  margin-bottom: 0;
}

.main-article-left-flesh {
  font-size: 10px;
  line-height: 13px;
  border-radius: 3px;
  background: #ec1f46;
  padding: 4px 9px;
  color: white;
  width: 70px;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.main-article-left-description {
  line-height: 15px;
  font-size: 12px;
}

.main-article-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-article-stars {
  width: 100%;
  line-height: 4px;
}

.main-article-right {
  background: #ec1f46;
  border-radius: 6px;
  font-family: "Mulish", sans-serif;
  font-size: 8px;
  min-height: 45px;
  max-width: 65px;
  color: white;
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-article-right-text {
  margin-bottom: 4px;
}

.main-article-right-chifre {
  font-size: 14px;
}

.main-article-left {
  width: 389px;
}

.send-button-special {
  margin-top: 23px;
  padding: 17px 65px;
  background: #ec1f46;
  color: white;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.slider-main {
  background: #F5FAFE;
  display: block;
  width: auto;
  padding-bottom: 35px;
}

.slider-title {
  display: none;
}

.slider-own {
  width: 1100px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider-conteiner {
  margin: 0;
  padding-bottom: 30px;
  width: 728px;
  margin-right: 30px;
}

.swiper-container {
  height: 450px;
  width: 728px;
  margin: 0px;
  position: relative;
  border-radius: 8px;
}

.swiper-container::after {
  content: '';
  position: absolute;
  width: inherit;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 122, 223, 0.48)), to(rgba(255, 255, 255, 0.128)));
  background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%);
  z-index: 10;
}

.swiper-slider-img {
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.swiper-slide {
  width: 728px;
}

.slider {
  width: 728px;
}

.slider-button {
  position: absolute;
  width: 30px;
  height: 30px;
  border: none;
  top: 50%;
  z-index: 99;
  cursor: pointer;
  margin-top: -15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
  background-color: transparent;
}

.slider-button--next {
  right: 18px;
}

.slider-button--prev {
  left: 18px;
}

.view {
  width: 350px;
  height: 210px;
  padding-top: 30px;
  padding-left: 24px;
  padding-bottom: 0px;
  padding-right: 24px;
  background: #0A223D;
  color: #FFFFFF;
  border-radius: 8px;
  margin-bottom: 27px;
}

.view-first {
  width: 295px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 9px;
}

.view-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 86px;
  margin: 0;
  font-family: "Nunito-ExtraLight";
  height: 59px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.view-left-start {
  font-size: 10px;
}

.view-left-price {
  font-family: "Nunito-Bold";
  font-size: 24px;
}

.view-left-per {
  font-size: 12px;
}

.view-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 80px;
  margin: 0;
  font-family: "Nunito-ExtraLight";
  font-size: 12px;
  height: 40px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -ms-flex-direction: column;
      flex-direction: column;
}

.view-quick {
  width: 295px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Nunito-Bold";
  margin-bottom: 17px;
  line-height: 25px;
}

.view-quick-booking {
  font-size: 18px;
}

.view-quick-call {
  font-size: 18px;
}

.view-button {
  width: 295px;
  padding: 13px 84px;
  font-family: "Nunito-ExtraLight";
  font-size: 14px;
  color: #FFFFFF;
  background: #ec1f46;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.view img {
  margin-right: 9px;
}

.map {
  width: 347px;
  height: 213px;
}

.map-big {
  width: 347px;
  height: 213px;
  border-radius: 10px;
}

a[href^="tel:"] {
  text-decoration: none;
  color: white;
}

.view-quick a:hover {
  color: #f19dc4;
}

.view button:hover {
  color: #0A223D;
}

.subscribe {
  width: 100%;
  background-image: url(../img/subcsribe.jpg);
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  background-position: center;
}

.subscribe:before {
  content: ' ';
  background-color: rgba(10, 34, 61, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.subscribe-text {
  padding: 98px 0 87px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Mulish", sans-serif;
  width: 731px;
  margin: auto;
  position: relative;
}

.subscribe-text-info {
  height: 75px;
}

.subscribe-text-info h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 5px;
}

.subscribe-text-info span {
  font-style: normal;
  font-size: 36px;
  line-height: 33px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.subscribe-input {
  width: 285px;
  height: 55px;
  color: #BDBDBD;
  padding: 18px 20px 19px 33px;
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  border-radius: 6px 0 0 6px;
  border: none;
}

.subscribe-input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.subscribe-button {
  height: 55px;
  width: 65px;
  background: #ec1f46;
  border: none;
  border-radius: 0 6px 6px 0;
  color: white;
  font-size: 12px;
  right: 0;
  cursor: pointer;
}

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews {
  width: auto;
  background: #F5FAFE;
  padding-top: 40px;
  padding-bottom: 60px;
  position: relative;
}

.reviews-h3 {
  margin: 0;
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Mulish", sans-serif;
  margin-bottom: 70px;
}

.reviews-main {
  width: 731px;
  height: 325px;
  margin: auto;
  overflow: hidden;
}

.reviews-info {
  width: 1462px;
  height: 280px;
  background: #ffff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.reviews-info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 97px;
  max-height: 149px;
  margin: auto;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 0;
}

.reviews-info-block-photo {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  margin-top: -80px;
  margin-bottom: 9px;
}

.reviews-info-block-name {
  color: #EC1F46;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  font-family: "Mulish", sans-serif;
  margin-bottom: 10px;
}

.reviews-info-block-date {
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  font-family: "Mulish", sans-serif;
  margin-bottom: 4px;
}

.reviews-info-block-stars {
  line-height: 8px;
}

.reviews-info-text {
  width: 537px;
  height: 114px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  font-size: 12px;
  font-family: "Mulish", sans-serif;
  line-height: 160%;
  overflow: hidden;
}

.reviews-button {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  z-index: 98;
}

.reviews-prev {
  top: 292px;
  left: 183px;
}

.reviews-next {
  top: 292px;
  right: 183px;
}

.text {
  width: 731px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.vector-le {
  margin-top: -200px;
  margin-left: 62px;
  height: 48px;
  width: 70px;
}

.vector-ri {
  margin-left: 610px;
  width: 70px;
  height: 48px;
  margin-bottom: 130px;
}

.activities {
  padding: 48px 0 98px 0;
  background: #F5FAFE;
}

.activities-conteiner {
  width: 1110px;
  margin: auto;
}

.activities-conteiner-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  font-family: "Mulish", sans-serif;
  margin-bottom: 57px;
  line-height: 30px;
}

.activities-wrap {
  width: 1110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 24px 26px;
  position: relative;
  width: 255px;
  height: 255px;
  border-radius: 6px;
  overflow: hidden;
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #0A223D 99.85%);
  z-index: 1;
}

.card-img {
  position: absolute;
  border-radius: 6px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.card-h3 {
  margin-top: auto;
  z-index: 2;
  color: white;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  font-family: "Mulish", sans-serif;
  margin-bottom: 18px;
}

.card-button {
  background: #ec1f46;
  color: white;
  font-family: "Mulish", sans-serif;
  padding: 7px 22px;
  font-size: 12px;
  line-height: 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  z-index: 1;
}

.footer {
  background: #0A223D;
  padding-top: 108px;
  padding-bottom: 46px;
}

.footer-container {
  margin: 0;
}

.footer-wrap {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "footer-h2 footer-all-categories footer-information footer-legal" "footer-h2 footer-all-categories footer-social footer-social" "footer-contact footer-contact footer-send footer-send";
  grid-row: 166px 2fr;
  -ms-grid-column: 4;
  grid-column: 4fr;
  width: 1110px;
  margin: auto;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
  font-family: "Mulish", sans-serif;
  color: #BDBDBD;
  margin-bottom: 94px;
}

.footer-top-logo {
  width: 166px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: footer-h2;
  font-weight: normal;
  font-size: 64px;
  line-height: 64px;
  font-family: LuckiestGuy-Regular;
}

.logo-white {
  color: white;
}

.footer-all-categories {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: footer-all-categories;
  line-height: 23px;
}

.footer-information {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: footer-information;
  margin-right: 94px;
}

.footer-legal {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: footer-legal;
}

.footer-social {
  width: 293px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: footer-social;
  margin-bottom: 94px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-top: 23px;
}

.footer-social img {
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.footer-social h2 {
  margin-right: 40px;
}

.footer-contact {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: footer-contact;
}

.footer-send {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: footer-send;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #BDBDBD;
}

.footer-wrap h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  font-family: "Mulish", sans-serif;
  text-transform: uppercase;
  margin-top: 0;
  color: #FFFFFF;
  margin-bottom: 0;
}

.footer-add {
  width: 1110px;
  margin: auto;
  text-decoration: none;
}

.footer-information {
  text-decoration: none;
  color: #BDBDBD;
}

.footer-information-ul {
  list-style-type: none;
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

.footer-information-li a:hover {
  color: #ffffff;
}

.footer-all-categories-li a:hover {
  color: #ffffff;
}

.footer-legal-li a:hover {
  color: #ffffff;
}

.footer-contact-text-general a:hover {
  color: #ffffff;
}

.footer-all-categories-ul {
  list-style-type: none;
  padding: 0;
  font-size: 14px;
  line-height: 160%;
}

.footer-legal-ul {
  list-style-type: none;
  padding: 0;
}

.footer-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer-add ul {
  list-style-type: none;
  font-family: "Mulish", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 277px;
  width: 283px;
  padding: 0;
  font-size: 12px;
  line-height: 15px;
}

.footer-href {
  text-decoration: none;
  color: #BDBDBD;
}

.footer-add ul a:hover {
  color: #ffffff;
}

.footer-send-name {
  border-radius: 4px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 18px;
  width: 255px;
  margin-right: 30px;
  font-size: 12px;
  border: none;
}

.footer-send-phone {
  border-radius: 4px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 18px;
  font-size: 12px;
  width: 254px;
  border: none;
}

.footer-contact-text {
  margin-top: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 493px;
  margin-right: 81px;
}

.footer-contact-text a {
  text-decoration: none;
  color: #BDBDBD;
  cursor: pointer;
}

.footer-contact-text img {
  margin-right: 19px;
  width: 23px;
  height: 23px;
}

.footer-send-massage {
  width: 539px;
  height: 123px;
  border-radius: 4px;
  border: none;
  padding-top: 18px;
  padding-bottom: 90px;
  padding-left: 23px;
}

.footer-send-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.footer-send-button {
  margin-top: 23px;
  padding: 17px 65px;
  background: #ec1f46;
  color: white;
  border-radius: 4px;
  border: none;
}

.footer-send-two button:hover {
  color: #0A223D;
}

.footer-send-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer-send-two button {
  cursor: pointer;
}

.footer-h2 {
  text-align: center;
  padding-top: 31px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: footer-h2;
}

.footer-contact-phones {
  display: inline-table;
}

.footer-contact-text-general {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 22px;
}

.footer-send-form {
  margin-top: 34px;
}

.modal__overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 143, 223, 0.39);
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.modal__overlay--visible {
  visibility: visible;
  opacity: 1;
}

.modal__dialog {
  position: fixed;
  left: 50%;
  top: 50%;
  padding: 33px 88px;
  background-color: #0A223D;
  border-radius: 8px;
  color: white;
  z-index: 101;
  max-width: 478px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Mulish", sans-serif;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.modal__dialog--visible {
  visibility: visible;
  opacity: 1;
}

.modal__close {
  position: absolute;
  z-index: 102;
  top: 17px;
  right: 18px;
  cursor: pointer;
}

.modal__dialog {
  overflow: auto;
  max-height: 100%;
}

.modal__dialog h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
}

.modal-input {
  width: 302px;
  margin-top: 15px;
  height: 50px;
  border-radius: 4px;
  padding-left: 23px;
  border: none;
}

.modal-send-massage {
  width: 302px;
  height: 123px;
  padding-left: 23px;
  padding-top: 18px;
  margin-top: 15px;
  border: none;
  border-radius: 4px;
}

.modal-send-two {
  width: 302px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}

.modal-send-two button {
  background: #ec1f46;
  color: white;
  padding: 18px 65px;
  border: none;
  border-radius: 4px;
}

.modal-back {
  background-color: rgba(0, 143, 223, 0.39);
  z-index: 103;
  font-family: "Mulish", sans-serif;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.modal-send-form {
  font-size: 12px;
  line-height: 15px;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

@media screen and (max-width: 1140px) {
  .header-conteiner {
    width: 88%;
    padding-bottom: 30px;
    padding-top: 30px;
  }
}

@media screen and (max-width: 480px) {
  .header-conteiner {
    background: white;
    width: 88%;
    padding-bottom: 28px;
    padding-top: 28px;
  }
}

@media screen and (max-width: 680px) {
  .header-mobile-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background: white;
    max-height: 100%;
    overflow: auto;
  }
}

@media screen and (max-width: 680px) {
  .header-navigator-conteiner {
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@media screen and (max-width: 680px) {
  .header-navigator-conteiner--visible {
    display: block;
  }
}

@media screen and (max-width: 680px) {
  .header-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 0;
  }
}

@media screen and (max-width: 680px) {
  .header-list__item {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 992px) {
  .header-top__logo {
    margin-right: 47px;
    font-size: 18px;
  }
}

@media screen and (max-width: 992px) and (max-width: 480px) {
  .header-top__logo {
    font-size: 13px;
    margin-right: 0;
  }
}

@media screen and (max-width: 680px) {
  .header-top-menu-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 16px;
    height: 11px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    color: black;
    background: inherit;
    border: none;
  }
}

@media screen and (max-width: 680px) and (max-width: 680px) {
  .header-top-menu-burger-line {
    width: 16px;
    height: 1px;
    background: #333333;
  }
}

@media screen and (max-width: 992px) {
  .search {
    width: 340px;
  }
}

@media screen and (max-width: 992px) and (max-width: 767px) {
  .search {
    display: none;
  }
}

@media screen and (max-width: 680px) {
  .user-show {
    display: block;
    font-family: "Mulish", sans-serif;
  }
}

@media screen and (max-width: 680px) {
  .user-show-href {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 32px;
  }
}

.user-show-href span {
  color: white;
}

.user-show-img {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.user-show-photo {
  margin-bottom: 27px;
}

.user-show-name {
  margin-bottom: 27px;
}

@media screen and (max-width: 680px) {
  .user {
    display: none;
  }
}

@media screen and (max-width: 680px) {
  .search-show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: relative;
    height: 40px;
    width: 76%;
    margin: auto;
    margin-bottom: 39px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 680px) {
  .search-show__input {
    background: #f5fafe;
    border: none;
    font-size: 12px;
    font-family: "Mulish", sans-serif;
    border-radius: 6px 0 0 6px;
    padding-left: 18px;
    width: 97%;
  }
}

@media screen and (max-width: 1140px) {
  .conteiner {
    width: 91%;
    font-size: 14px;
    height: 60px;
  }
}

@media screen and (max-width: 870px) {
  .nav-link {
    font-size: 12px;
  }
}

@media screen and (max-width: 870px) and (max-width: 768px) {
  .nav-link {
    font-weight: none;
  }
}

@media screen and (max-width: 680px) {
  .bread {
    margin-top: 70px;
  }
}

@media screen and (max-width: 1140px) {
  .bread-conteiner {
    width: 91%;
  }
}

@media screen and (max-width: 767px) {
  .main-article {
    padding-top: 0;
    padding-bottom: 36px;
  }
}

@media screen and (max-width: 1140px) {
  .main-article {
    padding-top: 10px;
  }
}

@media screen and (max-width: 1140px) {
  .main-article-conteiner {
    width: 91%;
  }
}

@media screen and (max-width: 767px) {
  .main-article-conteiner {
    width: 88%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .main-article-right {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .main-article-left-description {
    white-space: none;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .main-article-left-flesh {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

@media screen and (max-width: 767px) {
  .main-article-stars {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    width: auto;
  }
}

@media screen and (max-width: 767px) {
  .main-article-group {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .main-article-left {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .main-article-left-h {
    width: 100%;
  }
}

@media screen and (max-width: 1140px) {
  .slider {
    width: 700px;
  }
}

@media screen and (max-width: 1140px) {
  .slider-main {
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 767px) {
  .slider-main {
    padding-bottom: 34px;
  }
}

@media screen and (max-width: 1140px) {
  .slider-own {
    width: 91%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .slider-own {
    width: 88%;
  }
}

@media screen and (max-width: 1140px) {
  .slider-conteiner {
    margin-right: 0;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .slider-conteiner {
    padding-bottom: 20px;
    text-align: -webkit-center;
  }
}

@media screen and (max-width: 1140px) {
  .swiper-container {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .swiper-container {
    width: 100%;
  }
}

@media screen and (max-width: 555px) {
  .swiper-container {
    height: 180px;
    width: 280px;
  }
}

@media screen and (max-width: 1140px) {
  .swiper-slider-img {
    width: inherit;
  }
}

@media screen and (max-width: 767px) {
  .swiper-slider-img {
    width: inherit;
  }
}

@media screen and (max-width: 555px) {
  .swiper-slider-img {
    width: inherit;
  }
}

@media screen and (max-width: 1140px) {
  .card-map {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
  }
}

@media screen and (max-width: 1140px) and (max-width: 767px) {
  .card-map {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (max-width: 1140px) and (max-width: 555px) {
  .card-map {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 1140px) {
  .view {
    margin-right: 20px;
    width: 340px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1140px) and (max-width: 767px) {
  .view {
    margin-right: 15px;
    height: 208px;
  }
}

@media screen and (max-width: 1140px) and (max-width: 555px) {
  .view {
    width: 279px;
    height: 210px;
    margin-right: 0px;
    margin-bottom: 27px;
    padding: 29px 21px;
  }
}

.view-first {
  width: auto;
}

.view-quick {
  width: auto;
}

@media screen and (max-width: 767px) {
  .view-button {
    padding: 0;
    width: 235px;
    height: 45px;
  }
}

@media screen and (max-width: 1140px) {
  .map-big {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 767px) {
  .map-big {
    width: 100%;
    height: 208px;
  }
}

@media screen and (max-width: 555px) {
  .map-big {
    width: 280px;
    height: 172px;
  }
}

@media screen and (max-width: 1140px) {
  .map {
    width: 340px;
    height: 210px;
  }
}

@media screen and (max-width: 767px) {
  .map {
    width: 100%;
    height: 173px;
    text-align: center;
  }
}

@media screen and (max-width: 1140px) {
  .subscribe-text {
    width: 91%;
    padding: 92px 0 93px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 1140px) and (max-width: 767px) {
  .subscribe-text {
    width: 88%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 72px 0 83px 0;
  }
}

@media screen and (max-width: 767px) {
  .subscribe-text-info {
    margin-bottom: 37px;
  }
}

@media screen and (max-width: 767px) {
  .subscribe-text-info span {
    font-size: 30px;
  }
}

@media screen and (max-width: 767px) {
  .subscribe-text-info h2 {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 0;
  }
}

@media screen and (max-width: 767px) {
  .subscribe-input {
    width: 215px;
  }
}

@media screen and (max-width: 767px) {
  .reviews-info-text {
    width: 455px;
    height: 133px;
  }
}

@media screen and (max-width: 767px) {
  .reviews-info-block-photo {
    margin-top: -50px;
  }
}

@media screen and (max-width: 1200px) {
  .card {
    width: 48%;
    height: 316px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .card {
    width: 339px;
    height: 255px;
  }
}

@media screen and (max-width: 767px) {
  .card {
    width: 48%;
  }
}

@media screen and (max-width: 600px) {
  .card {
    width: 322px;
    margin-bottom: 22px;
  }
}

@media screen and (max-width: 600px) {
  .add-one {
    -webkit-box-ordinal-group: -3;
        -ms-flex-order: -4;
            order: -4;
  }
}

@media screen and (max-width: 600px) {
  .add-two {
    -webkit-box-ordinal-group: -2;
        -ms-flex-order: -3;
            order: -3;
  }
}

@media screen and (max-width: 767px) {
  .card-button {
    padding: 5px 21px;
  }
}

@media screen and (max-width: 1200px) {
  .activities-conteiner {
    width: 91%;
  }
}

@media screen and (max-width: 992px) {
  .activities-conteiner {
    width: 91%;
  }
}

@media screen and (max-width: 767px) {
  .activities-conteiner {
    width: 88%;
  }
}

@media screen and (max-width: 1200px) {
  .activities-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 88%;
  }
}

@media screen and (max-width: 1140px) {
  .activities-wrap {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (max-width: 992px) {
  .activities-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 88%;
  }
}

@media screen and (max-width: 600px) {
  .activities-wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 1200px) {
  .activities-conteiner-title {
    margin-left: 45px;
  }
}

@media screen and (max-width: 1140px) {
  .activities-conteiner-title {
    font-size: 24px;
    text-align: left;
    line-height: 30px;
  }
}

@media screen and (max-width: 768px) {
  .activities-conteiner-title {
    margin-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .activities-conteiner-title {
    margin-top: 0;
    margin-bottom: 33px;
    font-weight: bold;
    font-size: 18px;
    line-height: 0px;
    line-height: 30px;
  }
}

@media screen and (max-width: 460px) {
  .activities-conteiner-title {
    margin-left: 2px;
    font-size: 18px;
    line-height: 30px;
  }
}

@media screen and (max-width: 1140px) {
  .reviews-main {
    width: 579px;
    height: 344px;
  }
}

@media screen and (max-width: 1140px) {
  .vector-ri {
    display: none;
  }
}

@media screen and (max-width: 1140px) {
  .vector-le {
    display: none;
  }
}

@media screen and (max-width: 1140px) {
  .reviews-info-text {
    width: 455px;
    height: 133px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1140px) {
  .reviews-info-block-photo {
    margin-top: -45px;
  }
}

@media screen and (max-width: 1140px) {
  .reviews-prev {
    top: 300px;
    left: 198px;
  }
}

@media screen and (max-width: 992px) {
  .reviews-prev {
    top: 300px;
    left: 57px;
  }
}

@media screen and (max-width: 768px) {
  .reviews-prev {
    top: 286px;
    left: 35px;
  }
}

@media screen and (max-width: 767px) {
  .reviews-prev {
    top: 148px;
    left: 53px;
  }
}

@media screen and (max-width: 1140px) {
  .reviews-next {
    top: 300px;
    right: 198px;
  }
}

@media screen and (max-width: 992px) {
  .reviews-next {
    top: 300px;
    right: 57px;
  }
}

@media screen and (max-width: 768px) {
  .reviews-next {
    top: 286px;
    right: 35px;
  }
}

@media screen and (max-width: 767px) {
  .reviews-next {
    top: 148px;
    right: 57px;
  }
}

@media screen and (max-width: 767px) {
  .reviews-main {
    width: 279px;
    height: 500px;
  }
}

@media screen and (max-width: 767px) {
  .reviews-info {
    height: 483px;
    margin-top: 56px;
  }
}

@media screen and (max-width: 767px) {
  .text {
    width: 281px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 36px;
  }
}

@media screen and (max-width: 767px) {
  .reviews-info-block {
    margin-left: 59px;
  }
}

@media screen and (max-width: 767px) {
  .reviews-info-block {
    margin-bottom: 7px;
  }
}

@media screen and (max-width: 767px) {
  .reviews-info-text {
    width: 219px;
    height: 266px;
  }
}

@media screen and (max-width: 1140px) {
  .reviews-h3 {
    margin-bottom: 41px;
    font-size: 30px;
    line-height: 38px;
  }
}

@media screen and (max-width: 767px) {
  .reviews-h3 {
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    width: 245px;
    margin: auto;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 767px) {
  .reviews {
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 1140px) {
  .activities {
    padding: 45px 0 98px 0;
  }
}

@media screen and (max-width: 767px) {
  .activities {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.activities-wrap {
  width: 100%;
}

@media screen and (max-width: 1140px) {
  .footer {
    padding-top: 73px;
  }
}

@media screen and (max-width: 1140px) {
  .footer-wrap {
        grid-template-areas: "footer-h2 footer-social footer-social" "footer-all-categories footer-information footer-legal" "footer-contact footer-contact footer-contact" "footer-send footer-send footer-send";
    -ms-grid-row: 4;
    grid-row: 4fr;
    -ms-grid-column: 3;
    grid-column: 3fr;
    width: 100%;
    margin-bottom: 56px;
    margin: 0;
  }
}

@media screen and (max-width: 1140px) {
  .footer-wrap h2 {
    font-size: 18px;
    line-height: 23px;
  }
}

@media screen and (max-width: 767px) {
  .footer-wrap h2 {
    margin-bottom: 17px;
  }
}

@media screen and (max-width: 1140px) {
  .footer-top-logo {
    width: 104px;
    font-size: 40px;
    line-height: 40px;
  }
}

@media screen and (max-width: 1140px) {
  .footer-container {
    margin: auto;
    width: 91%;
  }
}

@media screen and (max-width: 767px) {
  .footer-container {
    margin: auto;
    width: 88%;
  }
}

@media screen and (max-width: 1140px) {
  .footer-h2 {
    font-size: 40.0964px;
    line-height: 40px;
    margin-bottom: 38px;
    padding-top: 0;
  }
}

@media screen and (max-width: 1140px) {
  .footer-information {
    margin-right: 38px;
  }
}

@media screen and (max-width: 767px) {
  .footer-information {
    margin-bottom: 10px;
    margin-right: 0;
  }
}

@media screen and (max-width: 1140px) {
  .footer-social {
    height: 24px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    margin-top: 57px;
    margin-left: 0;
    margin-bottom: 87px;
  }
}

@media screen and (max-width: 1140px) {
  .footer-all-categories {
    margin-bottom: 73px;
    margin-right: 38px;
  }
}

@media screen and (max-width: 1140px) {
  .footer-contact {
    margin-bottom: 38px;
  }
}

@media screen and (max-width: 1140px) {
  .footer-send h2 {
    margin-bottom: 15px;
    margin-top: 0;
  }
}

@media screen and (max-width: 1140px) {
  .footer-send {
    width: 92%;
  }
}

@media screen and (max-width: 767px) {
  .footer-send {
    width: 100%;
    margin-top: 5px;
  }
}

@media screen and (max-width: 1140px) {
  .footer-send-two {
    width: 539px;
  }
}

@media screen and (max-width: 1140px) and (max-width: 767px) {
  .footer-send-two {
    width: 91%;
  }
}

@media screen and (max-width: 1140px) {
  .footer-contact h2 {
    margin-bottom: 23px;
    margin-top: 0;
  }
}

@media screen and (max-width: 1140px) {
  .footer-add {
    width: 100%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 56px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding-top: 61px;
  }
}

@media screen and (max-width: 767px) {
  .footer-wrap {
        grid-template-areas: "footer-h2" "footer-social" "footer-legal" "footer-information" "footer-all-categories" "footer-contact" "footer-send";
    -ms-grid-row: 7;
    grid-row: 7fr;
    -ms-grid-column: 1;
    grid-column: 1fr;
    width: 100%;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 450px) {
  .footer-add {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .footer-add {
    display: unset;
  }
}

@media screen and (max-width: 767px) {
  .footer-social {
    margin: 0;
    margin-bottom: 0;
    width: 100%;
    display: unset;
    margin-top: 7px;
  }
}

@media screen and (max-width: 767px) {
  .footer-contact {
    margin-bottom: 31px;
    width: 100%;
    margin-top: 9px;
  }
}

@media screen and (max-width: 767px) {
  .footer-contact-text {
    width: 100%;
    margin: auto;
    margin-top: 20px;
  }
}

@media screen and (max-width: 767px) {
  .footer-contact-text img {
    margin-right: 7px;
  }
}

@media screen and (max-width: 767px) {
  .footer-h2 {
    margin-bottom: 30px;
    padding-top: 0;
  }
}

@media screen and (max-width: 767px) {
  .footer-send-first {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .footer-send-name {
    margin-right: 0;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .footer-send-phone {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .footer-send-massage {
    width: 100%;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 767px) {
  .footer-send-two span {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

@media screen and (max-width: 767px) {
  .footer-send-two {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
}

@media screen and (max-width: 1140px) {
  .footer-add ul {
    margin-right: 36%;
  }
}

@media screen and (max-width: 767px) {
  .footer-add ul {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 767px) {
  .footer-all-categories {
    margin-bottom: 33px;
    margin-right: 0;
    margin-top: 16px;
  }
}

@media screen and (max-width: 767px) {
  .footer-legal {
    margin-top: 76px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 767px) {
  .footer-contact-phones {
    width: 88%;
  }
}

@media screen and (max-width: 767px) {
  .footer-contact-text-general {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (max-width: 767px) {
  .footer-send-form {
    margin-top: 15px;
  }
}

@media screen and (max-width: 1140px) {
  .footer-all-categories-ul {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 992px) {
  .footer-information-li a:hover {
    color: inherit;
  }
}

@media screen and (max-width: 992px) {
  .footer-all-categories-li a:hover {
    color: inherit;
  }
}

@media screen and (max-width: 992px) {
  .footer-legal-li a:hover {
    color: inherit;
  }
}

@media screen and (max-width: 992px) {
  .footer-contact-text-general a:hover {
    color: inherit;
  }
}

@media screen and (max-width: 992px) {
  .footer-add ul a:hover {
    color: #BDBDBD;
  }
}

@media screen and (max-width: 992px) {
  .footer-send-two button:hover {
    color: #ffffff;
  }
}

@media screen and (max-width: 992px) {
  .header-list__item a:hover {
    color: #ffffff;
  }
}

@media screen and (max-width: 992px) {
  .view-quick a:hover {
    color: #ffffff;
  }
}

@media screen and (max-width: 992px) {
  .view button:hover {
    color: #ffffff;
  }
}

@media screen and (max-width: 767px) {
  .special {
    margin-top: 15px;
  }
}

@media screen and (max-width: 767px) {
  .modal__dialog {
    padding: 20px 20px;
    width: 90%;
    overflow: auto;
    max-height: 90%;
  }
}

@media screen and (max-width: 767px) {
  .modal-input {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .modal-send-massage {
    width: 100%;
    border-radius: 4px;
    padding-bottom: 90px;
  }
}

@media screen and (max-width: 767px) {
  .modal-send-two {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    margin: auto;
  }
}

@media screen and (max-width: 767px) {
  .modal-send-two button {
    margin-bottom: 15px;
  }
}
/*# sourceMappingURL=style.css.map */