* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-conteiner {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 1110px;
  margin: auto;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.header-top__logo {
  font-family: LuckiestGuy-Regular;
  font-size: 24px;
  margin-right: 108px;
}

.header-top-menu-burger {
  display: none;
}

.header-top-logo-search {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-black {
  color: #333333;
}

.logo-red {
  color: #ec1f46;
}

a {
  text-decoration: none;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  height: 40px;
  width: 350px;
}

.search__img {
  width: 18px;
  height: 18px;
}

.search__input {
  background: #f5fafe;
  border: none;
  font-size: 12px;
  font-family: "Mulish", sans-serif;
  border-radius: 6px 0 0 6px;
  padding-left: 18px;
  width: 350px;
}

.search__button {
  height: 40px;
  width: 65px;
  display: block;
  background: #ec1f46;
  border: none;
  border-radius: 0 6px 6px 0;
  position: absolute;
  right: 0;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.user-href {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-img {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  width: 40px;
  height: 40px;
  margin-right: 18px;
}

.user-photo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.user-name {
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  color: #333333;
}

.header-navigation {
  margin: auto;
  background: #0A223D;
}

.conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  width: 1110px;
  height: 80px;
}

.nav-link {
  color: white;
  font-family: "Mulish", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.header-navigation_showmobil {
  display: none;
}

.bread {
  display: block;
  background: #F5FAFE;
}

.bread-conteiner {
  margin: auto;
  width: 1110px;
}

.bread-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 10px;
  line-height: 13px;
  font-family: "Mulish", sans-serif;
  text-decoration: none;
  list-style: none;
  padding: 0;
  height: 50px;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bread-name-item:not(:last-child)::after {
  content: "/";
  margin-right: 4px;
  margin-left: 4px;
}

.main-article {
  background: #F5FAFE;
  padding-top: 23px;
  padding-bottom: 20px;
}

.main-article-conteiner {
  margin: auto;
  width: 1110px;
  font-family: "Mulish", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-article-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-article-left-h {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: "Mulish", sans-serif;
  margin-right: 14px;
  margin-top: 4px;
  margin-bottom: 0;
}

.main-article-left-flesh {
  font-size: 10px;
  line-height: 20px;
  border-radius: 3px;
  background: #ec1f46;
  padding: 4px 9px;
  color: white;
  width: 70px;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.main-article-left-description {
  line-height: 15px;
  font-size: 12px;
}

.main-article-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-article-stars {
  width: 100%;
  line-height: 4px;
}

.main-article-right {
  background: #ec1f46;
  border-radius: 6px;
  font-family: "Mulish", sans-serif;
  font-size: 8px;
  min-height: 45px;
  max-width: 65px;
  color: white;
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-article-right-text {
  margin-bottom: 4px;
}

.main-article-right-chifre {
  font-size: 14px;
}

.main-article-left {
  width: 389px;
}

.slider-main {
  background: #F5FAFE;
  display: block;
  width: auto;
  padding-bottom: 70px;
}

.slider-own {
  width: 1100px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider-conteiner {
  margin: 0;
  padding-bottom: 30px;
  width: 728px;
  margin-right: 30px;
}

.swiper-container {
  height: 450px;
  width: 728px;
  margin: 0px;
  position: relative;
  border-radius: 8px;
}

.swiper-container::after {
  content: '';
  position: absolute;
  width: 728px;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 122, 223, 0.48)), to(rgba(255, 255, 255, 0.128)));
  background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%);
  z-index: 10;
}

.swiper-slide {
  width: 728px;
}

.slider {
  width: 728px;
}

.slider-button {
  position: absolute;
  width: 30px;
  height: 30px;
  border: none;
  top: 50%;
  z-index: 99;
  cursor: pointer;
  margin-top: -15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
  background-color: transparent;
}

.slider-button--next {
  right: 18px;
}

.slider-button--prev {
  left: 18px;
}

.view {
  width: 350px;
  height: 210px;
  padding: 28px;
  background: #0A223D;
  color: #FFFFFF;
  border-radius: 8px;
  margin-bottom: 27px;
}

.view-first {
  width: 295px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 9px;
}

.view-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 86px;
  margin: 0;
  font-family: "Nunito-ExtraLight";
  height: 59px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.view-left-start {
  font-size: 10px;
}

.view-left-price {
  font-family: "Nunito-Bold";
  font-size: 24px;
}

.view-left-per {
  font-size: 12px;
}

.view-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 80px;
  margin: 0;
  font-family: "Nunito-ExtraLight";
  font-size: 12px;
  height: 40px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -ms-flex-direction: column;
      flex-direction: column;
}

.view-quick {
  width: 295px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Nunito-Bold";
  margin-bottom: 17px;
  line-height: 25px;
}

.view-quick-booking {
  font-size: 18px;
}

.view-quick-call {
  font-size: 18px;
}

.view-button {
  width: 295px;
  padding: 13px 84px;
  font-family: "Nunito-ExtraLight";
  font-size: 14px;
  color: #FFFFFF;
  background: #ec1f46;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.view img {
  margin-right: 9px;
}

.map {
  width: 347px;
  height: 213px;
}

.map-big {
  width: 347px;
  height: 213px;
  border-radius: 10px;
}

.subscribe {
  width: 100%;
  background-image: url(../img/subcsribe.jpg);
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  background-position: center;
}

.subscribe:before {
  content: ' ';
  background-color: rgba(10, 34, 61, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.subscribe-text {
  padding: 98px 0 87px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Mulish", sans-serif;
  width: 731px;
  margin: auto;
  position: relative;
}

.subscribe-text-info h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: #FFFFFF;
}

.subscribe-text-info span {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 45px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.subscribe-input {
  width: 285px;
  height: 55px;
  color: #BDBDBD;
  padding: 18px 20px 19px 33px;
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  border-radius: 6px 0 0 6px;
  border: none;
}

.subscribe-button {
  height: 55px;
  width: 65px;
  background: #ec1f46;
  border: none;
  border-radius: 0 6px 6px 0;
  color: white;
  font-size: 12px;
  right: 0;
  cursor: pointer;
}

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews {
  width: auto;
  background: #F5FAFE;
  padding-top: 40px;
  padding-bottom: 60px;
  position: relative;
}

.reviews-h3 {
  margin: 0;
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Mulish", sans-serif;
  margin-bottom: 70px;
}

.reviews-main {
  width: 731px;
  height: 325px;
  margin: auto;
  overflow: hidden;
}

.reviews-info {
  width: 1462px;
  height: 280px;
  background: #ffff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.reviews-info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 97px;
  max-height: 149px;
  margin: auto;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 0;
}

.reviews-info-block-photo {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  margin-top: -80px;
  margin-bottom: 9px;
}

.reviews-info-block-name {
  color: #EC1F46;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  font-family: "Mulish", sans-serif;
  margin-bottom: 10px;
}

.reviews-info-block-date {
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  font-family: "Mulish", sans-serif;
  margin-bottom: 4px;
}

.reviews-info-block-stars {
  line-height: 8px;
}

.reviews-info-text {
  width: 537px;
  height: 114px;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  font-size: 12px;
  font-family: "Mulish", sans-serif;
  line-height: 160%;
  overflow: hidden;
}

.reviews-button {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  z-index: 99;
}

.reviews-prev {
  top: 300px;
  left: 120px;
}

.reviews-next {
  top: 300px;
  right: 120px;
}

.text {
  width: 731px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.vector-le {
  margin-top: -200px;
  margin-left: 62px;
  height: 48px;
  width: 70px;
}

.vector-ri {
  margin-left: 610px;
  width: 70px;
  height: 48px;
  margin-bottom: 130px;
}

.activities {
  padding: 60px 0 98px 0;
  background: #F5FAFE;
}

.activities-conteiner {
  width: 1110px;
  margin: auto;
}

.activities-conteiner-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  font-family: "Mulish", sans-serif;
  margin-bottom: 57px;
}

.activities-wrap {
  width: 1110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 24px 26px;
  position: relative;
  width: 255px;
  height: 255px;
  border-radius: 6px;
  overflow: hidden;
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #0A223D 99.85%);
  z-index: 1;
}

.card-img {
  position: absolute;
  border-radius: 6px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.card-h3 {
  margin-top: auto;
  z-index: 2;
  color: white;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  font-family: "Mulish", sans-serif;
  margin-bottom: 18px;
}

.card-button {
  background: #ec1f46;
  color: white;
  font-family: "Mulish", sans-serif;
  padding: 7px 22px;
  font-size: 12px;
  line-height: 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  z-index: 1;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

@media screen and (max-width: 1140px) {
  .header-conteiner {
    width: 91%;
    padding-bottom: 30px;
    padding-top: 30px;
  }
}

@media screen and (max-width: 480px) {
  .header-conteiner {
    width: 88%;
  }
}

@media screen and (max-width: 992px) {
  .header-top__logo {
    margin-right: 47px;
    font-size: 18px;
  }
}

@media screen and (max-width: 992px) and (max-width: 480px) {
  .header-top__logo {
    font-size: 13px;
    margin-right: 0;
  }
}

@media screen and (max-width: 680px) {
  .header-top-menu-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 16px;
    height: 11px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    color: black;
    background: inherit;
    border: none;
  }
}

@media screen and (max-width: 680px) and (max-width: 680px) {
  .header-top-menu-burger-line {
    width: 16px;
    height: 1px;
    background: #333333;
  }
}

@media screen and (max-width: 992px) {
  .search {
    width: 340px;
  }
}

@media screen and (max-width: 992px) and (max-width: 680px) {
  .search {
    display: none;
  }
}

@media screen and (max-width: 680px) {
  .user {
    display: none;
  }
}

@media screen and (max-width: 680px) {
  .header-navigator-conteiner {
    display: none;
  }
}

@media screen and (max-width: 1140px) {
  .conteiner {
    width: 91%;
    font-size: 14px;
    height: 60px;
  }
}

@media screen and (max-width: 870px) {
  .nav-link {
    font-size: 12px;
  }
}

@media screen and (max-width: 870px) and (max-width: 768px) {
  .nav-link {
    font-weight: none;
  }
}

@media screen and (max-width: 1140px) {
  .bread-conteiner {
    width: 88%;
  }
}

@media screen and (max-width: 1140px) {
  .main-article-conteiner {
    width: 88%;
  }
}

@media screen and (max-width: 768px) {
  .main-article-right {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .main-article-left-description {
    white-space: none;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .main-article-left-flesh {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

@media screen and (max-width: 768px) {
  .main-article-stars {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    width: auto;
  }
}

@media screen and (max-width: 768px) {
  .main-article-group {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .main-article-left {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .main-article-left-h {
    width: 100%;
  }
}

@media screen and (max-width: 1140px) {
  .slider {
    width: 700px;
  }
}

@media screen and (max-width: 1140px) {
  .slider-main {
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 768px) {
  .slider-main {
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 1140px) {
  .slider-own {
    width: 88%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 1140px) {
  .slider-conteiner {
    margin-right: 0;
    width: 700px;
  }
}

@media screen and (max-width: 1140px) {
  .swiper-container {
    width: 88%;
  }
}

@media screen and (max-width: 768px) {
  .swiper-container {
    height: 180px;
    width: 280px;
  }
}

@media screen and (max-width: 768px) {
  .swiper-slide img {
    width: 88%px;
    height: 180px;
  }
}

@media screen and (max-width: 1140px) {
  .card-map {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 728px;
  }
}

@media screen and (max-width: 1140px) and (max-width: 768px) {
  .card-map {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 1140px) {
  .view {
    margin-right: 20px;
    width: 340px;
  }
}

@media screen and (max-width: 1140px) and (max-width: 768px) {
  .view {
    width: 279px;
    height: 210px;
    margin-right: 0px;
  }
}

.view-first {
  width: auto;
}

.view-quick {
  width: auto;
}

@media screen and (max-width: 768px) {
  .view-button {
    padding: 0;
    width: 235px;
    height: 45px;
  }
}

@media screen and (max-width: 1140px) {
  .map-big {
    width: 340px;
    height: 210px;
  }
}

@media screen and (max-width: 768px) {
  .map-big {
    width: 280px;
    height: 172px;
  }
}

@media screen and (max-width: 1140px) {
  .map {
    width: 340px;
    height: 210px;
  }
}

@media screen and (max-width: 768px) {
  .map {
    width: 340px;
  }
}

@media screen and (max-width: 1140px) {
  .subscribe-text {
    width: 93%;
  }
}

@media screen and (max-width: 1140px) and (max-width: 768px) {
  .subscribe-text {
    width: 88%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (max-width: 768px) {
  .subscribe-text-info {
    margin-bottom: 37px;
  }
}

@media screen and (max-width: 768px) {
  .subscribe-text-info span {
    font-size: 30px;
  }
}

@media screen and (max-width: 768px) {
  .subscribe-text-info h2 {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 5px;
    margin-top: 0;
  }
}

@media screen and (max-width: 768px) {
  .subscribe-input {
    width: 215px;
    padding: 18px 131px 19px 33px;
  }
}

@media screen and (max-width: 768px) {
  .reviews-prev {
    top: 190px;
    left: 250px;
  }
}

@media screen and (max-width: 768px) {
  .reviews-next {
    top: 190px;
    right: 250px;
  }
}

@media screen and (max-width: 768px) {
  .reviews-h3 {
    font-size: 30px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 768px) {
  .reviews-info-text {
    width: 455px;
    height: 133px;
  }
}

@media screen and (max-width: 768px) {
  .reviews-info-block-photo {
    margin-top: -50px;
  }
}

@media screen and (max-width: 1200px) {
  .card {
    width: 340px;
    height: 255px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 992px) {
  .card {
    width: 340px;
    height: 255px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .activities-conteiner {
    width: 88%;
  }
}

@media screen and (max-width: 992px) {
  .activities-conteiner {
    width: 88%;
  }
}

@media screen and (max-width: 1200px) {
  .activities-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 88%;
  }
}

@media screen and (max-width: 992px) {
  .activities-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 88%;
  }
}

@media screen and (max-width: 1200px) {
  .activities-conteiner-title {
    margin-left: 45px;
  }
}

@media screen and (max-width: 768px) {
  .activities-conteiner-title {
    margin-left: 35px;
  }
}

@media screen and (max-width: 460px) {
  .activities-conteiner-title {
    margin-left: 21px;
  }
}
/*# sourceMappingURL=style.css.map */