.slider-main
  background: $color-bg
  display: block
  width: auto
  padding-bottom: 70px
.slider-own
  width: 1100px
  margin: auto
  display: flex
  justify-content: space-between
.slider-conteiner
  margin: 0
  padding-bottom: 30px
  width: 728px
  margin-right: 30px
.swiper-container
  height: 450px
  width: 728px
  margin: 0px
  position: relative
  border-radius: 8px
  &::after
    content: ''
    position: absolute
    width: 728px
    height: 100%
    top: 0
    right: 0
    left: 0
    bottom: 0
    background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%)
    z-index: 10
.swiper-slide
  width: 728px
.slider
  width: 728px
  &-button
    position: absolute
    width: 30px
    height: 30px
    border: none
    top: 50%
    z-index: 99
    cursor: pointer
    margin-top: -15px
    background-repeat: no-repeat
    background-position: center
    background-size: 10px
    background-color: transparent
    &--next
      right: 18px

    &--prev
      left: 18px
.view
  width: 350px
  height: 210px
  padding: 28px
  background: #0A223D
  color: #FFFFFF
  border-radius: 8px
  margin-bottom: 27px
  &-first
    width: 295px
    display: flex
    margin: 0
    justify-content: space-between
    margin-bottom: 9px
  &-left
    display: flex
    flex-flow: column
    width: 86px
    margin: 0
    font-family: "Nunito-ExtraLight"
    height: 59px
    justify-content: space-between
    &-start
      font-size: 10px
    &-price
      font-family: $type-text-view
      font-size: 24px
    &-per
      font-size: 12px
  &-right
    display: flex
    flex-flow: column
    width: 80px
    margin: 0
    font-family: "Nunito-ExtraLight"
    font-size: 12px
    height: 40px
    justify-content: space-around
    flex-flow: wrap
    flex-direction: column
  &-quick
    width: 295px
    display: flex
    justify-content: space-between
    font-family: $type-text-view
    margin-bottom: 17px
    line-height: 25px
    &-booking
      font-size: 18px
    &-call
      font-size: 18px
  &-button
    width: 295px
    padding: 13px 84px
    font-family: "Nunito-ExtraLight"
    font-size: 14px
    color: #FFFFFF
    background: $color_red
    border: none
    border-radius: 4px
    cursor: pointer
.view img
  margin-right: 9px
.map
  width: 347px
  height: 213px
  &-big
    width: 347px
    height: 213px
    border-radius: 10px
